.tasks {
    &__title {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #dfdfdf;
        transition: .2s;
        &:hover {
            img {
                opacity: .2;
                &:hover {
                    opacity: .6;
                    transform: scale(1.10);
                }
            }
        }
    
        img {
            margin-left: 15px;
            opacity: 0;
            cursor: pointer;
            transition: .2s;
        }
    }

    &__items{
        margin-top: 30px;
        h2 {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 32px;
            color: #C9D1D3;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
        }
        &-row {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            input{
                width: 100%;
                border: none;
                outline: none;
                font-size: 16px;
                margin-left: 15px;
            }
        }
    }

    &__form {
        margin-top: 20px;
        &-block {
            .button {
                margin-top: 15px;
                margin-right: 10px;
            }
        }
        &-new {
            display: flex;
            align-items: center;
            cursor: pointer;
            opacity: .4;
            transition: opacity .2s ease-in-out;
            &:hover {
                opacity: .7;
            }
            img {
                width: 20px;
                height: 20px;
            }
            span {
                font-size: 16px;
                margin-left: 20px;
            }
        }
    }

    .checkbox {
        input {
            display: none;
        }
        &:hover {
            label {
                background: #dfdfdf;
                border-color: #dfdfdf;
                svg {
                    opacity: 1;
                    path {
                        stroke: #b2b2b2;
                    }
                }
            }
        }

        input:checked + label {
            background: #4DD599;
            border: 2px solid #4DD599;
            svg {
                opacity: 1;
                path {
                    stroke: #fff;
                }
            }
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #e8e8e8;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            cursor: pointer;
            svg {
                opacity: 0;
            }
        }
    }
}